@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Knewave&display=swap");

$red: #9b2226;
$darkRed: #8c1f22;
$yellow: #eec48a;
$darkYellow: #c7a16c;

$mainBackground: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);

$logoFont: "Knewave", cursive;
$mainFont: "Baloo 2", cursive;

$realisticShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
