<section class="about container">
  <img src="/assets/images/mainIcon.png" alt="page logo" />
  <h2 class="main__title">About this page</h2>
  <p class="about__info">This is a server-side web application whose primary use
    is for the management of data related to movies, Roniell Pérez built it as
    an assignment to practice gitflow from his Institue</p>
  <a href="/" class="btn btn-danger">Back Home</a>
</section>