<section class="not-found container">
  <iconify-icon
    icon="fluent:calendar-error-20-filled"
    class="main__logo"
  ></iconify-icon>
  <h2 class="main__title">Page Not Found</h2>
  <a href="/movies" class="btn btn-danger">Back Home</a>
</section>